.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  height: 5dvh;
  padding: 25px;
  background-color: #353535;
  user-select: none;
  color: #fdfdfd;
  a[id="nav_font"] {
    text-align: center;
    font-size: 0.85rem;
    border-radius: 5px;
    transition: 0.15s ease-in;
    padding: 6px 10px 6px 10px;
  }
  a[id="nav_login"] {
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.15s ease-in;
    padding: 6px 10px 6px 10px;
  }
  a[id="nav_font"]:hover {
    background-color: #252525;
    transition: 0.15s ease-in;
  }
  a[id="nav_font"]:focus {
    background-color: #252525;
  }
}
.logo_font {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.button_login {
  width: 4rem;
  height: 5.2dvh;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #d3d3d3;
  p {
    color: #2d2d2d;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
